// -----------------------------------------------------------------------------
// Color palette variables
// -----------------------------------------------------------------------------

$dark-color: hsl(0, 0%, 20%);
$light-color: hsl(0, 0%, 100%);
$accent-color: hsl(158, 43%, 42%);
