// -----------------------------------------------------------------------------
// Color palette variables
// -----------------------------------------------------------------------------

$primary: hsl(45, 100%, 50%);
$secondary: hsl(0, 0%, 50%);
$body-bg: hsl(0, 0%, 100%);
$text: hsl(0, 0%, 20%);
