// -----------------------------------------------------------------------------
// Font families and @font-face declarations (if any)
// -----------------------------------------------------------------------------

// Font stack variables
$sans: "Source Sans Pro", Arial, Helvetica, sans-serif;

// Font weight variables
$light: 300;
$regular: 400;
$bold: 600;
