/*

body {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
  color: hsl(0, 0%, 26%);
  background: hsl(0, 0%, 80%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

h1 {
  font-size: 3em;
}

footer {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 40%);
  padding: 1.5em 1em;
  text-align: center;
}

.credit {
  font-size: 0.8rem;
  color: hsl(0, 0%, 80%);
}

*/
