// -----------------------------------------------------------------------------
// Footer styles
// -----------------------------------------------------------------------------

.footer > * {
  color: $light-color;
  margin: 0 auto;
}

.footer__links {
  border-top: solid 1px $light-color;
  width: 25%;
  margin: 4em auto !important;
  padding: 2em 1em;
  text-decoration: none;
  text-align: center;

  & > li {
    margin: 0.25rem;
    text-decoration: none;
  }
}

.icon {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.credit {
  font-size: 0.8rem;
}
